{% extends "layout.html" %}

{% block title %}
    Projects
{% endblock %}

{% block main %}
    <ul class="list-group">
        <li class="list-group-item active">In-Progress/Completed Achievements</li>
        <li class="list-group-item">
            <a id="cs50-link" style="text-decoration: none; color: #ed1b34; white-space: nowrap;" target="_blank" href="https://www.edx.org/course/introduction-computer-science-harvardx-cs50x">
                CS50x
                <svg width="24" height="24" style="margin-left: -20px;">
                    <img src="https://seeklogo.com/images/H/harvard-university-logo-D7CC65EE30-seeklogo.com.png" width="24" height="24">
                </svg>
            </a>
        </li>
    </ul>
{% endblock %}