{% extends "layout.html" %}

{% block title %}
Profile
{% endblock %}

{% block main %}
    <ul class="list-group">
        <li class="list-group-item active">Info</li>
        <li class="list-group-item">Home Country:
            <a id="malaysia-link" style="color: #CC0000; text-decoration: none;" target="_blank" href="https://en.wikipedia.org/wiki/Malaysia">Mal</a><a id="malaysia-link" style="color: #FFFF00; text-decoration: none;" target="_blank" href="https://en.wikipedia.org/wiki/Malaysia">ay</a><a id="malaysia-link" style="color: #0032A0; text-decoration: none;" target="_blank" href="https://en.wikipedia.org/wiki/Malaysia">sia</a>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <image xlink:href="https://www.svgrepo.com/show/508594/flag-my.svg" width="24" height="24" />
            </svg>
        </li>
        <li class="list-group-item">Status: Homeschooled Student</li>
        <li class="list-group-item">Age: 16</li>
        <li class="list-group-item">Birthday: July 9 2007</li>
        <li class="list-group-item">Hobbies:
            <a style="text-decoration: none;" target="_blank" href="https://en.wikipedia.org/wiki/Weightlifting">Weightlifting</a>,
            <a style="text-decoration: none;" target="_blank" href="https://en.wikipedia.org/wiki/Calisthenics">Calisthenics</a>,
            Programming, Football, <br> Japanese (Culture, Language, Architecture, Food)
        </li>
        <li class="list-group-item">Socials:
            <a style="text-decoration: none;" target="_blank" href="https://www.instagram.com/_randomed/">@_randomed
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <image xlink:href="https://www.svgrepo.com/show/521711/instagram.svg" width="24" height="24" />
                </svg>
            </a>|
            <a style="text-decoration: none;" target="_blank" href="https://github.com/Randomed90">@Randomed90
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <image xlink:href="https://www.svgrepo.com/show/512317/github-142.svg" width="24" height="24" />
                </svg>
            </a>|
            <a style="text-decoration: none;" target="_blank" href="https://twitter.com/Randomed90_">@Randomed90_
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" version="1.1">
                    <image xlink:href="https://www.svgrepo.com/show/308971/twitter-social-media-social-network-logo.svg" width="24" height="24" />
                </svg>
            </a>
        </li>
    </ul>
{% endblock %}