{% extends "layout.html" %}

{% block title %}
    Projects
{% endblock %}

{% block main %}
    <ul class="list-group">
        <li class="list-group-item active">Skills so far</li>
        <li class="list-group-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <image xlink:href="https://upload.wikimedia.org/wikipedia/commons/3/35/The_C_Programming_Language_logo.svg" width="24" height="24" />
            </svg>
            C
        </li>
        <li class="list-group-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <image xlink:href="https://www.svgrepo.com/show/452091/python.svg" width="24" height="24" />
            </svg>
            Python
        </li>

        <li class="list-group-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <!-- <image xlink:href="https://www.svgrepo.com/show/508839/html5-02.svg" width="24" height="24" /> -->
                <image xlink:href="https://www.svgrepo.com/show/452228/html-5.svg" width="24" height="24" />
            </svg>
            HTML,
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24">
                <!-- <image xlink:href="https://www.svgrepo.com/show/508795/css3-02.svg" width="24" height="24" /> -->
                <image xlink:href="https://www.svgrepo.com/show/452185/css-3.svg" width="24" height="24" />
            </svg>
            CSS
        </li>
        <li class="list-group-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 24 24">
                <!-- <image xlink:href="https://www.svgrepo.com/show/361903/javascript.svg" width="24" height="24" /> -->
                <image xlink:href="https://www.svgrepo.com/show/353925/javascript.svg" width="24" height="24" />
            </svg>
            Javascript
        </li>
      </ul>
{% endblock %}